.memberDisplay {
  color: #ececec;
  margin: 1% 25%;
  padding: 2%;
  background: var(--window-primary);
  border: 1px solid var(--window-border);
  box-sizing: border-box;
  box-shadow: 10px 10px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.memberDisplay h2 {
  text-align: center;
  letter-spacing: 0.16em;
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 32px;
  font-family: "Courier New", Courier, monospace;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.leftSide {
  border-right: 1px solid #ececec;
}

.displayRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 10%;
}

.displayRowBottom {
  display: flex;
  flex-direction: column;
  margin: 12px 10%;
}

.displayRow label,
.displayRowBottom label,
.displayRowDesc label {
  font-size: 1.2em;
  font-weight: 700;
}

.displayButton {
  margin: 2% 10%;
  text-align: right;
}

.displayButton button {
  background-color: var(--button-color-login);
  color: var(--button-text-color);
  border: 1px solid black;
}

.displayButton button:hover {
  background-color: var(--button-color-login-hover);
  color: var(--button-text-color-hover);
  border: 1px solid black;
}

.missionItem:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1440px) {
  .memberDisplay {
    margin: 1% 12.5%;
  }
}

@media only screen and (max-width: 1024px) {
  .memberDisplay {
    margin: 1% 5%;
  }
}

@media only screen and (max-width: 768px) {
  .memberDisplay {
    margin: 1% 3%;
  }
}

@media only screen and (max-width: 700px) {
  .memberDisplay {
    margin: 1% 3%;
  }

  .container {
    grid-template-columns: 1fr;
  }

  .leftSide {
    border-right: 0px;
    border-bottom: 1px solid #ececec;
  }
}

@media only screen and (max-width: 425px) {
}
