/* About Page */

#aboutContainer {
  margin: 1% 20%;
  padding: 3%;
  background: var(--window-primary);
  box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--window-border);
  border-radius: 20px;
  text-align: center;
  color: var(--text-color-primary);
  font-size: 18px;
}

#aboutContainer h2 {
  font-size: 48px;
}

#aboutContainer img {
  margin: 2% auto;
  width: 100%;
  border: 1px solid rgba(224, 207, 51, 0.8);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 8px;
}

@media only screen and (max-width: 1200px) {
  #aboutContainer {
    margin: 1% 10%;
  }
  #aboutContainer img {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  #aboutContainer h2 {
    font-size: 40px;
  }
  #aboutContainer {
    margin: 2% 3%;
  }
}
