/* Footer */

#footer {
  background-color: var(--window-primary);
  border-top: 2px solid var(--window-border);
  font-family: "Parisienne", cursive;
  height: auto;
  padding: 8px;
  color: var(--text-color-primary);
  margin-top: auto;
}
