/* Custom Navigation */

/* #nav-main {
    background-color: rgba(53, 101, 42, 0.8);
    font-family: "Parisienne", cursive;
    font-size: 24pt;
    padding: 8px;
    border-bottom: 2px solid rgba(224, 207, 51, 0.8);
  }
  
  #nav-main ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  #nav-main ul a {
    color: white;
    text-decoration: none;
  }
  
  #nav-main ul a:hover {
    color: white;
  }
  
  #nav-guild-name {
    display: flex;
    flex-direction: column;
  }
  
  .nav-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav-logo img {
    border-radius: 8px;
    margin-right: 24px;
    height: 100px;
    width: auto;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  } */
