/* Tester - Green, Blue, White */
:root {
  --rootColor: linear-gradient(
    180deg,
    rgba(140, 200, 224, 0.75) 0%,
    rgba(140, 200, 224, 0.4) 100%
  );
  --htmlColor: rgba(140, 200, 224, 0.4);
  --nav-color: rgba(53, 101, 42, 0.8);
  --main-color: rgba(53, 101, 42, 0.8);
  --button-color: #45b3f1;
  --button-color-hover: #3790c4;
  --info-button-color: #45b3f1;
  --info-button-color-hover: #3790c4;
  --cartItemColor: rgba(244, 244, 244, 0.5);
  --itemBoxBackground: rgba(244, 244, 244, 0.5);
  --deleteButton: red;
  --cartTotalBack: rgba(244, 244, 244, 0.5);
  --cartInput: rgba(180, 179, 179, 0.877);
  --productInfoBack: rgba(244, 244, 244, 0.5);
  --productInfoDescrip: rgba(78, 139, 65, 0.7);
  --categoryProductBack: rgba(244, 244, 244, 0.5);
  --checkout-button-hover: #3790c4;
}

/* Create Account Form */

.accountSection {
  color: #ececec;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  margin: 3% 25% 3% 25%;
  padding: 5%;
  background: var(--main-color);
  border: 1px solid #5f5f5f;
  box-sizing: border-box;
  box-shadow: 10px 10px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

@media only screen and (max-width: 1200px) {
  .accountSection {
    margin: 3% 12.5%;
  }
}

.detailsRow button,
.loginForm button,
.accountSection button,
.changePasswordForm button {
  background-color: var(--button-color);
  color: black;
  transition: 0.2s;
}

.detailsRow button:hover,
.loginForm button:hover,
.accountSection button:hover,
.changePasswordForm button:hover {
  transition: 0.2s;
  background-color: var(--checkout-button-hover);
  color: #000000;
}

.accountSection h2 {
  text-align: center;
  letter-spacing: 0.16em;
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 51px;
}

.formRow {
  display: flex;
  justify-content: space-between;
  margin: 2% auto;
}

/* Account Details Form */

.detailsRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: 400;
  column-gap: 2rem;
}

.detailsRow label {
  font-size: 20px;
  font-weight: 500;
}

.dots::after {
  content: " ";
  border-bottom: 1px dotted black;
}

.detailsRow span {
  font-size: 20px;
  font-family: "Inter";
}

@media only screen and (max-width: 800px) {
  .subDetail,
  .login-new-user {
    flex-direction: column;
  }
}

.accountSection h3 {
  margin-top: 30px;
  text-decoration: underline;
  text-align: left;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.11em;
}

.detailBottom {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.editAccount {
  font-style: normal;
  background: var(--button-color);
  color: white;
  border-radius: 8px;
  font-weight: 500;
  font-size: 24px;
  padding: 0.75rem;
}

.logout-btn {
  margin-top: 10px;
  padding: 5px;
  border-radius: 16px;
  color: white;
  background-color: #5f5f5f !important;
  transition: 0.2s;
}

.logout-btn:hover {
  transition: 0.2s;
  background-color: white !important;
  color: #000000;
}

@media only screen and (max-width: 425px) {
  .accountSection {
    margin: 3% 5%;
  }

  .formRow {
    display: block;
    justify-content: space-between;
    margin: 2% auto;
  }
}

@media only screen and (max-width: 375px) {
  .memberLogin {
    margin: 3% 5%;
  }
}
