#missionDetail {
  background: url("../../../utils/images/cork.jpg");
  background-size: auto;
  margin: 3% 20%;
  border: 5px solid black;
  border-radius: 8px;
  background-color: #9c6f3e;
  padding: 1%;
}

#missionPage {
  background: url(../../../utils/images/old_paper_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 2% 3%;
  border: 1px solid #000000;
  border-radius: 0px 45px;
  padding: 2%;
  font-family: "NSimSun";
}

.missionPin {
  height: 40px;
  width: 40px;
  text-align: center;
  /* margin: auto 50%; */
}

.detailTop h1 {
  font-size: 64px;
  font-weight: 400;
  text-decoration: underline;
  text-align: center;
}

.detailRow {
  display: flex;
  font-size: 24px;
  justify-content: space-between;
  margin: auto 12.5%;
}

.detailMid h2 {
  font-family: "NSimSun";
  font-size: 48px;
  font-weight: 400;
  text-decoration: underline;
  text-align: center;
}

.description {
  font-size: 24px;
  width: 100%;
}

.detailBot {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr 0.5fr;
}

.detailPayout {
  font-size: 32px;
}

.deadline {
  grid-row: 3;
}

.date {
  font-size: 32px;
  font-weight: 700;
}

.missionNumContainer,
.signatureContainer {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  text-align: right;
  grid-column: 2;
  align-items: center;
}

.missionNumContainer {
  text-align: center;
}

.signatureContainer {
  grid-row: 3/4;
}

.missionNum,
.signature {
  border-top: 1px solid black;
}

#signature {
  font-size: 48px;
  font-family: "Vujahday Script", cursive;
}

#missionNum {
  font-size: 48px;
}

.detailButtons {
  display: flex;
  justify-content: space-evenly;
}

.missionComplete {
  align-self: center;
  position: absolute;
  top: 50%;
  left: 40%;
  height: 300px;
  width: 400px;
}

.reportTitle {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
}

.reportContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
}

.missionReport {
  border: 1px dashed black;
  padding: 12px;
}

.missionReport h3 {
  text-decoration: underline;
}

.red {
  background: #cd1e1e;
  border-radius: 8px;
  color: white;
  padding: 8px 24px;
}

.green {
  background-color: green;
  border-radius: 8px;
  color: white;
  padding: 8px 24px;
}

@media only screen and (max-width: 1320px) {
  #missionDetail {
    margin: 3% 12.5%;
  }

  .missionComplete {
    height: 200px;
    width: 250px;
  }

  .detailTop input {
    font-size: 32pt;
  }

  .description {
    min-height: 35vh;
  }
}

@media only screen and (max-width: 1000px) {
  #missionDetail {
    margin: 3% 5%;
  }

  .missionComplete {
    height: 100px;
    width: 150px;
  }
  .detailTop input {
    font-size: 24pt;
  }

  .description {
    min-height: 35vh;
  }
  .detailRow {
    flex-direction: column;
    text-align: center;
  }

  .detailRowHead {
    text-decoration: underline;
    font-weight: 700;
  }

  .detailBot {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
  }

  .deadline,
  .signatureContainer,
  .missionNumContainer {
    grid-column: auto;
    grid-row: auto;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid black;
  }

  .detailPayout {
    border-bottom: 1px solid black;
  }

  .detailPayout input {
    font-size: 20px;
  }

  .detailMid h2 {
    font-size: 28pt;
  }

  .detailButtons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .detailButtons button {
    background: #cd1e1e;
    border-radius: 8px;
    color: white;
    padding: 2px 4px;
    margin: 1% auto;
  }
}
