.searchContainer {
  margin: 1% 12.5%;
  background: var(--window-primary);
  border: 3px solid var(--window-border);
  padding: 3%;
  color: white;
  font-size: 18px;
}

.searchContainer form {
  display: flex;
  justify-content: center;
}

.searchHeader {
  text-align: center;
}

.dataRow {
  transition: all 0.2s ease-in-out;
  color: white !important;
}

.dataRow:hover {
  cursor: pointer;
  color: black !important;
  background-color: rgb(95, 139, 85) !important;
  transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 1440px) {
  .searchContainer {
    margin: 1% 7%;
  }
}

@media only screen and (max-width: 1024px) {
  .searchContainer {
    margin: 1% 5%;
  }
}

@media only screen and (max-width: 768px) {
  .searchContainer {
    margin: 1% 3%;
  }
}

@media only screen and (max-width: 425px) {
  .searchContainer {
    margin: 1% 1%;
  }
}
