.missionBoard {
  background: url("../../../utils/images/cork.jpg");
  background-size: auto;
  margin: 1% 20%;
  border: 5px solid black;
  border-radius: 8px;
  background-color: #9c6f3e;
  padding: 1%;
}

@media only screen and (max-width: 1200px) {
  .missionBoard {
    margin: 1% 10%;
  }
}

@media only screen and (max-width: 600px) {
  .missionBoard {
    margin: 2% 3%;
  }
}
